@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


* {
    margin: 0px;
    padding: 0px;
    background-color: #0f0e11;
    font-family: 'Roboto', sans-serif;
}

.Banner {
    /* border: 1px solid red; */
    color: white;
    text-align: center;
    background-color: #5645bd;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.navBarContainer {
    /* border: 1px solid cyan; */
    margin: 0 auto;
    width: 90%;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navBarLogo {
    display: flex;
    font-size: 25px;
    align-items: center;


}

.navBarLogo img {
    margin-right: 10px;
    border-radius: 40px;

}

.navLinks button {
    /* border: 1px solid blue; */
    margin-left: 50px;
    font-size: 18px;
    color: #BEBAC4;
    object-fit:cover;
}


.heroCard{
    /* border: 1px solid cyan; */
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
}

.heroDescribe{
    font-size: 70px;
    line-height: 115%;
    font-weight: 900;
    color: white;
}