@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


* {
    margin: 0px;
    padding: 0px;
    background-color: #0f0e11;
    font-family: 'Roboto', sans-serif;

}

/* .myApp{
    overflow: hidden;
    overflow-y: hidden;
} */

.Banner {
    /* border: 1px solid red; */
    color: white;
    text-align: center;
    background-color: #5645bd;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

.navBarContainer {
    /* border: 1px solid cyan; */
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarLogo {
    display: flex;
    align-items: center;
}

.navBarLogo h2 {
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 35px;
}

.navBarLogo img {
    margin-right: 10px;
    border-radius: 40px;

}

.link-btn {
    /* border: 1px solid blue; */
    margin-left: 50px;
    font-size: 20px;
    color: #BEBAC4;
    object-fit: cover;
}


.heroImg {
    /* border: 1px solid blue; */
    /* padding: 10px; */
    width: 50%;
    display: flex;
    /* height: 70%; */
    margin-top: -35px;
    margin-left: 20px;
}

.heroImg img {
    width: 90%;
    /* margin: 0 auto; */
    margin-left: 120px;
    /* border-radius: 50px; */
}

.rotateEarth {
    animation-name: animated-it;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.rotateEarth {
    animation-name: earth-rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


.heroCard {
    /* border: 1px solid cyan; */
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;

}

.heroDescribe h1 {
    font-size: 65px;
    line-height: 115%;
    font-weight: 800;
    color: white;
    letter-spacing: 1px;
    margin-top: -90px;
}

.heroDescribe h2 {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 12%, rgba(86, 69, 189, 1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
    margin-top: 55px;
    font-weight: 800;
    /* letter-spacing: 1.5px; */
}

@keyframes earth-rotate {
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

#contact-btn {
    background-color: #5645bd;
    font-size: 20px;
}

.footer {
    /* border: 1px solid blue; */
    /* padding: 2px; */
    width: 90%;
    margin: 0 auto;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer img {
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 80px;
    /* margin-top: 50px; */
}

#Resources h3 {
    color: #F2F1F3;
    font-size: 20px;
    font-weight: 900;
}

#Resources p {
    color: #9691A1;
}

#Company {
    margin-top: -5px;
}



#Company h3 {
    color: #F2F1F3;
    font-size: 20px;
    font-weight: 900;
}

#Company p {
    color: #9691A1;
}


#findUs {
    margin-top: 20px;
}

#findUs h3 {
    color: #F2F1F3;
    font-size: 20px;
    font-weight: 900;
}

#findUs p {
    color: #9691A1;
}


.contact-us {
    /* text-align: center; */
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(86, 69, 189, 1) 05%,rgba(255, 255, 255, 1) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #BEBAC4;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 50px;
}

.footerDetails {
    color: white;
    margin-top: 50px;
    margin-left: 40px;
}

.hr {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

#input1{
    margin: 0 auto;
}

.copyRights {
    /* border: 1px solid cyan; */
    padding: 50px;
    display: flex;
    margin-left: 20px;
    color: #686873;
}

.copyRights h3 {
    /* background-color: #686873; */
    margin-left: 20px;
    font-size: 20px;
}



/* Business card css */
.foodContainer {
    border: 2px solid lightgray;
    width: 340px;
    padding: 10px;
    margin: 20px;
    border-radius: 18px;
    /* box-shadow: 1px  1px 3px 0px ; */
  }
  
  .foodContainer h3,
  h4 {
    margin: 4px 0;
  }
  
  
  .imgSrc {
    width: 100%;
    border-radius: 18px;
  }
  
  .cardItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .must-try{
    padding: 4px 12px;
    border-radius: 12px;
    color: white;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    margin: 10px;
  }
  
  .imgBox{
    position: relative;
  }
  
  .d-none{
    display: none;
  }

  .foodContainer p, h3, h4 {
    color: white;
  }

.addFooter{
    /* border: 1px solid blue; */
    margin-top: 180px;
}

